.sale_detail {
  display: flex;
  flex-direction: row;
  margin: 80px 20px;
}
.sale_detail_left {
  background-color: white;
  margin-right: 20px;
  width: 350px;
  height: 100%;
}
.sale_detail_right {
  background-color: white;
  margin-right: 20px;
  width: 350px;
  height: 100vh;
}
